@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --Primary: #344e41;
    --Secondary: #dad7cd;
    --Primary-Button: #3a5a40;
    --Secondary-Button: #b5c49c;
    --Accent: #588157;

    --Primary-Font: "Inter","sans-serif";
    --Font-Color: #344e41;
}
body {
    background-color: var(--Secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 2;
    background: var(--Secondary);
    color: var(--Primary-Button);
    font-family: var(--Primary-Font);

    width: 90%;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 10px 20px;
    backdrop-filter: blur(50px);
    background-color: rgba(225, 225, 225, 0.2);
    
    position: fixed;
    top: 12px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    text-align: center;
}
.nav {
    display: none;
}
.menuHamburguer {
    font-size: 2em;
}

.logo {
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 8px;
}

.activeMenu {
    z-index: 2;
    background-color: var(--Secondary);
    opacity: 97%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: fixed;
    
    width: 100vw;
    top: 120%;
    right: -15px;
    padding: 32px;
    border-radius: 16px;
}

header a {
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 750px) {
    header {
        position: relative;
    }
    .menuHamburguer {
        display: none;
    }
    .logo {
        font-size: 1.5em;
    }
    .nav {
        width: 75%;
        display: flex;
        padding: 8px;
        justify-content: space-between;
        align-items: center;
        font-size: 0.95em;
        gap: 16px;
    }
    .nav a {
        padding: 6px;
        font-weight: 500;
        transition: transform ease 300ms;
    }
    .nav a:hover {
        transform: translate(0, -4px);
    }

    .login-hp-btn {
        background-color: var(--Primary-Button);
        color: var(--Secondary);
        padding: 1em 2em;
        border-radius: 6px;
        transition: transform ease 300ms;
    }
    .login-hp-btn:hover {
        transform: translate(0, -4px);
        box-shadow: 0px 10px 80px 0px #3a5a40;
    }

}

@media screen and (min-width: 850px) {
    header {    
        max-width: 900px;
    }
} 